
	#wrapper
		{
			margin:0px auto;
			height: 1380px;
			width:1920px;
			background-color:antiquewhite;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		}
		*
		{
			text-decoration: none;
		}
	header
		{
			margin:0px auto;
			height: 400px;
			width:1920px;
			background-image: url("images/banner.jpg");
			text-align: center;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		}
		
	#logopg
		{
			
			margin:0px auto;
			display: inline-block;
			
		}
		#menus
		{
			display: inline-block;
			
			
		}
		
		#menus table,td,tr
		{
			border-collapse:collapse;
			border-top: 1px solid rgba(255,255,255,0.50); 
			border-bottom: 1px solid rgba(255,255,255,0.50);
			
		}
		#menus td:hover
		{
			cursor: pointer;
		}
	#selected
		{
		
			text-decoration-line: underline;
		}
		section
		{
			background-image:url("images/Body banner.jpg");
			height: 980px;
			
			text-align:center;
		}
		b
		{
			color:rgba(231,48,51,1.00);
			font-size: 15px;
			float: left;
			font-family: "antonio";
			font-weight: bold;
			margin:5px;
		}
		
		#Kinds
		{
			display: inline-block;
			background-color: white;
			margin: 5% auto;
			box-shadow: 0 40px 20px 0 rgba(0, 0, 0, 0.2), 0px 6px 20px 0 rgba(0, 0, 0, 0.19);
			
		}
		
		#Kinds table,td,tr
		{
			border-collapse:collapse;
			
			
			
		}
		
		#Kinds td
		{
			padding:30px 80px;
			font-family: "Antonio";
			font-weight: bold;
			font-size:40px;
			color: slategray;
			 
			height:50px;
			text-align: center;
			border: 1px solid rgba(112,128,144,0.85);
			
			
		}
		#Foods
		{
			display: inline-block;
			background-color: white;
			margin: 2% auto;
			
			
		}
		
		#Foods table,td,tr
		{
			border-collapse:collapse;
			box-shadow: 0 40px 20px 0 rgba(0, 0, 0, 0.2), 0px 6px 20px 0 rgba(0, 0, 0, 0.19);
			
		}
		
		#Foods td
		{
			padding:30px 80px;
			font-family: "Antonio";
			font-weight: bold;
			font-size:20px;
			color: slategray;
			 border-radius: 6px;
			height:30px;
			text-align: center;
			border: 1px solid rgba(112,128,144,0.85); 
			
			
		}
		#menus
		{
			display: inline-block;
		
		}
		
		#menus table,td,tr
		{
			border-collapse:collapse;
			
			
		}
		
		#menus td
		{
			padding:30px 80px;
			font-family: "Amble";
			font-weight: bold;
			font-size:30px;
			color: white;
			border-left: 1px none 255,255,0.50); 
			border-right: 1px none rgba(255,255,255,0.50);
			border-top: 1px solid rgba(255,255,255,0.50); 
			border-bottom: 1px solid rgba(255,255,255,0.50);
			
		}
		#Kinds td:hover
		{
			
			color:white;
			font-size: 45px;
			background-color: rgba(239,76,82,1.00);
			cursor: pointer;
		}
		#Foods td:hover
		{
			color:red;
			
			font-size: 22px;
			background-color:rgba(241,255,145,1.00);
		}
		#logopg:hover
	{
	
		transform:scale(0.95);
		
		
		
	}
		
